.site-title {

}
.logo {
    display: block;
    margin: auto;
    padding: 20px;
    width: 300px;
}
.logo-circle-1 {
    fill:#010C50;
}
.logo-circle-2 {
    fill:#FF3366;
}
.logo-circle-3 {
    fill:#C8FF05;
}
.logo-letter {
    fill:#FFFFFF;
}
