$font_1: 'Arima Madurai';
$font_2: 'Work Sans';
$font_3: 'Khula';

$baseline_font : 11px;

html,
body {
    font-family: $font_3;
    font-size: $baseline_font;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.header--small {
    letter-spacing: .8px;
    text-transform: lowercase;
}

h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: c('font-1');
    display: inline-block;
    width: 100%;
    max-width: 140px;
    margin: auto;
}
h2 {
    font-family: $font_1;
    font-weight: 100;
    font-size: 55px;
    line-height: 1.3;
}
